

body {
  background-color: #F6F6F6;
}

#header {
  background-color: #F6F6F6;
  border: 1px solid #DDDDDD;
  margin: 30px 0 10px 0;
  padding: 10px;
}

#header h4, #header p {
  text-align: center;
}

.side-nav {
  float: left;
  height: 100vh;
  width: 160px;
  position: absolute;
  background-color: #F6F6F6;
  border-right: 1px solid #A7D7F9;
}

.side-nav img {
  width: 120px;
  margin-top: 15px;
}

.side-nav ul {
  padding: 15px;
}

.side-nav li {
  list-style: none;
}

.side-nav h6 {
  margin: 0 0 5px 15px;
  border-bottom: 1px solid gray; 
  width: 60%;
}

.container {
  margin-left: 160px;
  background-color: white;
}

#box-left {
  border: 1px solid #A4BFB1;
  margin: 10px 0 10px 0;
  padding: 4px;
  background-color: #F5FFFB;
}

#box-left h4 {
  border: 1px solid #A4BFB1;
  background-color: #cef2e0;
  padding: 5px;
  font-weight: 700;
}

#box-right {
  border: 1px solid #CEDFF2;
  margin: 10px 0 10px 0;
  padding: 4px;
  background-color: #F5FAFF;
}

#box-right h4 {
  border: 1px solid #A4B0BF;
  background-color: #cedff2;
  padding: 5px;
  font-weight: 700;
}

#col-left {
  padding-right: 2px;
}

#col-right {
  padding-left: 2px;
}

#featured-box {
  border: 1px solid #AFA3BF;
  margin: 10px 0 10px 0;
  padding: 4px;
  background-color: #FAF5FF;
}

#featured-box img {
  width: 350px;
}

#featured-box h4 {
  border: 1px solid #AFA3BF;
  background-color: #DDCEF2;
  padding: 5px;
  font-weight: 700;
}

#bottom-box {
  border: 1px solid #DDDDDD;
  margin: 10px 0 10px 0;
  padding: 4px;
  background-color: #FFFFFF;
}

#bottom-box h4 {
  border: 1px solid #DDDDDD;
  background-color: #EEEEEE;
  padding: 5px;
  font-weight: 700;
}
}

#log-in {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

#log-in-items {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
